body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#imagen {
  float: left ;
  margin: 10px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 33.33%;
  padding: 10px;
}
